body {
  font-family: Arial;
  font-size: 16px;
  background: $background;
  margin: 0;
}

input, textarea {
  font-family: Arial;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.game {
  width: calc(100% - 750px);
  position: relative;
  height: 985px;
}

.board {
  position: relative;
  height: 100%;
  top: 22.5px;
  left: 22.5px;
}

.button {
  padding: 12px 15px;
  font-size: 16px;
  background: #2db4ff;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 2px 1px #000000;
  &:hover {
    background: #0b47f1;
  }
}
