.controls {
  position: absolute;
  top: 22.5px;
  left: 22.5px;
  z-index: 10;
}

.controls_button {
  @extend .button;
  float: left;
  margin-right: 14px;
  &:hover {
    background: #0b47f1;
  }
}

.controls_speed {
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 2px 1px #000000;
  float: left;
  margin-right: 14px;
}

.controls_pincode {
  float: left;
  margin-top: 13px;
}