.row {
  position: relative;
  //height: 42px;
  height: 6.4%;
  //margin-bottom: 0.8%;
}

.row:after {
  content: '';
  display: block;
  clear: both;
}

[row_id="12"] .point,
[row_id="10"] .point,
[row_id="8"] .point,
[row_id="6"] .point,
[row_id="4"] .point,
[row_id="2"] .point,
[row_id="0"] .point {
  position: absolute;
}

[row_id="5"] .point:first-child {
  //margin-left: 36%;
  margin-left: 35.6%;
}

[row_id="7"] .point:first-child {
  margin-left: 24%;
}

[row_id="9"] .point:first-child {
  margin-left: 12%;
}

.point {
  position: relative;
  background: #B5A075;
  height: 100%;
  width: 5.882352941176471%;
  float: left;
}

.row .point:last-child {
  margin-right: 0;
}

@keyframes example {
  from {background-color: #F6EED7; box-shadow: 0 0 0 0;}
  to {background-color: #ffffff; box-shadow: 0 0 5px 1px #000000;}
}

.point {

  div {
    background: #F6EED7;
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    border-radius: 50%;
  }

  &.--blocked div {
    background: #666666;
    box-shadow: 0 0 2px 1px #000000;
  }

  &.--puttable div {
    background: #F6EED7;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    cursor: pointer;
    &:hover {
      background: lighten(#F6EED7, 10%);
    }
  }

  &.--puttable-barricade div {
    background: #cccccc;
    cursor: pointer;
    &:hover {
      background: #888888;
    }
  }

  &.--pickable {
    cursor: pointer;
  }

  &.--red div {
    background: $red;
    box-shadow: 0 0 2px 1px #000000;
  }

  &.--pickable.--red div:hover {
    background: lighten($red, 20%);
  }

  &.--puttable.--red div {
    background: lighten($red, 30%);
  }

  &.--yellow div {
    background: $yellow;
    box-shadow: 0 0 2px 1px #000000;
  }

  &.--pickable.--yellow div:hover {
    background: darken($yellow, 20%);
  }

  &.--puttable.--yellow div {
    background: lighten($yellow, 30%);
  }

  &.--green div {
    background: $green;
    box-shadow: 0 0 2px 1px #000000;
  }

  &.--pickable.--green:hover div {
    background: lighten($green, 20%);
  }

  &.--puttable.--green div {
    background: lighten($green, 30%);
  }

  &.--blue div {
    background: $blue;
    box-shadow: 0 0 2px 1px #000000;
  }

  &.--pickable.--blue:hover div {
    background: lighten($blue, 20%);
  }

  &.--puttable.--blue div {
    background: lighten($blue, 30%);
  }
}

[point_id="13,0"] {
  border-radius: 0 0 0 $border-radius-point-rows;
}

[point_id="13,16"] {
  border-radius: 0 0 $border-radius-point-rows 0;
}

[point_id="12,0"] {
  left: 0;
}

[point_id="12,4"] {
  left: 25%;
  transform: translateX(-25%);
}

[point_id="12,8"] {
  left: 50%;
  transform: translateX(-50%);
}

[point_id="12,12"] {
  left: 75%;
  transform: translateX(-75%);
}

[point_id="12,16"] {
  right: 0;
}

[point_id="11,0"] {
  border-radius: $border-radius-point-rows 0 0 0;
}

[point_id="11,16"] {
  border-radius: 0 $border-radius-point-rows 0 0;
}

[point_id="10,2"] {
  //left: 12.5%;
  left: 12.8%;
  transform: translateX(-12.5%);
}

[point_id="10,6"] {
  //left: 37.5%;
  left: 37.7%;
  transform: translateX(-37.5%);
}

[point_id="10,10"] {
  //left: 62.5%;
  left: 62.7%;
  transform: translateX(-62.5%);
}

[point_id="10,14"] {
  //left: 87.5%;
  left: 87.8%;
  transform: translateX(-87.5%);
}

[point_id="9,2"] {
  border-radius: $border-radius-point-rows 0 0 0;
}

[point_id="9,14"] {
  border-radius: 0 $border-radius-point-rows 0 0;
}

[point_id="8,4"] {
  left: 24%;
}

[point_id="8,12"] {
  left: 71.05%;
}

[point_id="7,4"] {
  border-radius: $border-radius-point-rows 0 0 0;
}

[point_id="7,12"] {
  border-radius: 0 $border-radius-point-rows 0 0;
}

[point_id="6,6"] {
  left: 35.6%;
}

[point_id="6,10"] {
  left: 59.1%;
}

[point_id="5,6"] {
  border-radius: $border-radius-point-rows 0 0 0;
}

[point_id="5,10"] {
  border-radius: 0 $border-radius-point-rows 0 0;
}

[point_id="4,8"] {
  left: 50%;
  transform: translateX(-50%);
}

[point_id="3,0"] {
  border-radius: 0 0 0 $border-radius-point-rows;
}

[point_id="3,16"] {
  border-radius: 0 0 $border-radius-point-rows 0;
}

[point_id="2,16"] {
  right: 0;
}

[point_id="1,0"] {
  border-radius: $border-radius-point-rows 0 0 0;
}

[point_id="1,16"] {
  border-radius: 0 $border-radius-point-rows 0 0;
}

[point_id="0,8"] {
  left: 50%;
  transform: translateX(-50%);
  border-radius: $border-radius-point-rows $border-radius-point-rows 0 0;
}

.point_finish {
  box-shadow: 0 0 2px 1px #000000;
}

.point_finish_quarter-circle {
  position: absolute;
  width: 50%;
  height: 50%;

  &.-top-left {
    left: 0;
    top: 0;
    background: red;
    border-radius: 100% 0 0 0;
  }

  &.-top-right {
    right: 0;
    top: 0;
    background: $green;
    border-radius: 0 100% 0 0;
  }

  &.-bottom-right {
    right: 0;
    bottom: 0;
    background: $yellow;
    border-radius: 0 0 100% 0;
  }

  &.-bottom-left {
    left: 0;
    bottom: 0;
    background: $blue;
    border-radius: 0 0 0 100%;
  }
}