.setup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.setup_row {
  padding: 10px;
  clear: both;
}

.setup_input {
  padding: 10px 15px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid grey;
  margin-right: 14px;
  float: left;
}

.setup_button {
  @extend .button;
  min-width: 120px;
  float: left;
}