.setup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.setup_row {
  padding: 10px;
  clear: both;
}

.setup_input {
  padding: 10px 15px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid grey;
  margin-right: 14px;
  float: left;
}

.setup_button {
  padding: 12px 15px;
  font-size: 16px;
  background: #2db4ff;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  min-width: 120px;
  float: left;
  &:hover {
    background: #0b47f1;
  }
}