body {
  font-family: Arial;
  font-size: 16px;
  background: #ffffff;
  margin: 0; }

input, textarea {
  font-family: Arial;
  font-size: 16px; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

.game {
  width: calc(100% - 750px);
  position: relative;
  height: 985px; }

.board {
  position: relative;
  height: 100%;
  top: 22.5px;
  left: 22.5px; }

.button, .setup_button, .controls_button, .winner-popup_button, .chat_send-message_button {
  padding: 12px 15px;
  font-size: 16px;
  background: #2db4ff;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 2px 1px #000000; }
  .button:hover, .setup_button:hover, .controls_button:hover, .winner-popup_button:hover, .chat_send-message_button:hover {
    background: #0b47f1; }

.row {
  position: relative;
  height: 6.4%; }

.row:after {
  content: '';
  display: block;
  clear: both; }

[row_id="12"] .point,
[row_id="10"] .point,
[row_id="8"] .point,
[row_id="6"] .point,
[row_id="4"] .point,
[row_id="2"] .point,
[row_id="0"] .point {
  position: absolute; }

[row_id="5"] .point:first-child {
  margin-left: 35.6%; }

[row_id="7"] .point:first-child {
  margin-left: 24%; }

[row_id="9"] .point:first-child {
  margin-left: 12%; }

.point {
  position: relative;
  background: #B5A075;
  height: 100%;
  width: 5.882352941176471%;
  float: left; }

.row .point:last-child {
  margin-right: 0; }

@keyframes puttable {
  from {
    background-color: #F6EED7;
    box-shadow: 0 0 0 0; }
  to {
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px #000000; } }

@keyframes selected {
  from {
    box-shadow: 0 0 2px 1px #000000; }
  to {
    box-shadow: 0 0 4px 2px #000000; } }

@keyframes kill {
  from {
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px; }
  to {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; } }

.point div {
  background: #F6EED7;
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  border-radius: 50%; }

.point.-blocked div {
  background: #666666;
  box-shadow: 0 0 2px 1px #000000; }

.point.-puttable div {
  background: #F6EED7;
  animation-name: puttable;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer; }
  .point.-puttable div:hover {
    background: white; }

.point.-puttable-barricade div {
  background: #cccccc;
  cursor: pointer; }
  .point.-puttable-barricade div:hover {
    background: #888888; }

.point.-pickable {
  cursor: pointer; }

.point.-kill-animation div {
  animation-name: kill;
  animation-duration: .5s;
  z-index: 100; }

.point.-kill-animation div:after {
  content: '';
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #000000; }

.point.-red div,
.point.-killer-red div:after {
  background: #F66332;
  box-shadow: 0 0 2px 1px #000000; }

.point.-pickable.-red div:hover {
  background: #fbc0ac; }

.point.-picked.-red div {
  background: #f99b7b; }

.point.-yellow div,
.point.-killer-yellow div:after {
  background: #F1E54F;
  box-shadow: 0 0 2px 1px #000000; }

.point.-pickable.-yellow div:hover {
  background: #cabc10; }

.point.-green div,
.point.-killer-green div:after {
  background: #40B54F;
  box-shadow: 0 0 2px 1px #000000; }

.point.-pickable.-green:hover div {
  background: #87d491; }

.point.-blue div,
.point.-killer-blue div:after {
  background: #5699D1;
  box-shadow: 0 0 2px 1px #000000; }

.point.-pickable.-blue:hover div {
  background: #a6c9e7; }

.point.-picked div {
  animation-name: selected;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer; }

.point.-picked div:hover {
  box-shadow: 0 0 3px 1px #000000; }

[point_id="13,0"] {
  border-radius: 0 0 0 25%; }

[point_id="13,16"] {
  border-radius: 0 0 25% 0; }

[point_id="12,0"] {
  left: 0; }

[point_id="12,4"] {
  left: 25%;
  transform: translateX(-25%); }

[point_id="12,8"] {
  left: 50%;
  transform: translateX(-50%); }

[point_id="12,12"] {
  left: 75%;
  transform: translateX(-75%); }

[point_id="12,16"] {
  right: 0; }

[point_id="11,0"] {
  border-radius: 25% 0 0 0; }

[point_id="11,16"] {
  border-radius: 0 25% 0 0; }

[point_id="10,2"] {
  left: 12.8%;
  transform: translateX(-12.5%); }

[point_id="10,6"] {
  left: 37.7%;
  transform: translateX(-37.5%); }

[point_id="10,10"] {
  left: 62.7%;
  transform: translateX(-62.5%); }

[point_id="10,14"] {
  left: 87.8%;
  transform: translateX(-87.5%); }

[point_id="9,2"] {
  border-radius: 25% 0 0 0; }

[point_id="9,14"] {
  border-radius: 0 25% 0 0; }

[point_id="8,4"] {
  left: 24%; }

[point_id="8,12"] {
  left: 71.05%; }

[point_id="7,4"] {
  border-radius: 25% 0 0 0; }

[point_id="7,12"] {
  border-radius: 0 25% 0 0; }

[point_id="6,6"] {
  left: 35.6%; }

[point_id="6,10"] {
  left: 59.1%; }

[point_id="5,6"] {
  border-radius: 25% 0 0 0; }

[point_id="5,10"] {
  border-radius: 0 25% 0 0; }

[point_id="4,8"] {
  left: 50%;
  transform: translateX(-50%); }

[point_id="3,0"] {
  border-radius: 0 0 0 25%; }

[point_id="3,16"] {
  border-radius: 0 0 25% 0; }

[point_id="2,16"] {
  right: 0; }

[point_id="1,0"] {
  border-radius: 25% 0 0 0; }

[point_id="1,16"] {
  border-radius: 0 25% 0 0; }

[point_id="0,8"] {
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25% 25% 0 0; }

.point_finish {
  box-shadow: 0 0 2px 1px #000000; }

.point_finish_quarter-circle {
  position: absolute;
  width: 50%;
  height: 50%; }
  .point_finish_quarter-circle.-top-left {
    left: 0;
    top: 0;
    background: red;
    border-radius: 100% 0 0 0; }
  .point_finish_quarter-circle.-top-right {
    right: 0;
    top: 0;
    background: #40B54F;
    border-radius: 0 100% 0 0; }
  .point_finish_quarter-circle.-bottom-right {
    right: 0;
    bottom: 0;
    background: #F1E54F;
    border-radius: 0 0 100% 0; }
  .point_finish_quarter-circle.-bottom-left {
    left: 0;
    bottom: 0;
    background: #5699D1;
    border-radius: 0 0 0 100%; }

.home {
  position: absolute;
  transform: translate(-50%);
  width: 20%;
  top: 0;
  background: #F6EED7;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.home_pawns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.home_pawns span {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #000000; }

.\--is-players-turn .home_pawns span {
  cursor: pointer; }

.home_pawns.\--available {
  cursor: pointer; }

.home_pawns.\--available:hover {
  border: 5px solid #000000; }

.\--is-players-turn {
  border-bottom: 5px solid black;
  background: #d9ceb7; }

.home[color="red"] {
  left: 14.35%; }
  .home[color="red"] .home_pawns span, .home[color="red"] .home_pick-color {
    background: #F66332; }
  .home[color="red"].\--is-players-turn .home_pawns span:hover, .home[color="red"] .home_pick-color:hover {
    background: #f88863; }

.home[color="green"] {
  left: 38.35%; }
  .home[color="green"] .home_pawns span, .home[color="green"] .home_pick-color {
    background: #40B54F; }
  .home[color="green"].\--is-players-turn .home_pawns span:hover, .home[color="green"] .home_pick-color:hover {
    background: #61c76e; }

.home[color="yellow"] {
  left: 62.35%; }
  .home[color="yellow"] .home_pawns span, .home[color="yellow"] .home_pick-color {
    background: #F1E54F;
    color: #000000; }
  .home[color="yellow"].\--is-players-turn .home_pawns span:hover, .home[color="yellow"] .home_pick-color:hover {
    background: #f5ec7e; }

.home[color="blue"] {
  left: 86.35%; }
  .home[color="blue"] .home_pawns span, .home[color="blue"] .home_pick-color {
    background: #5699D1; }
  .home[color="blue"].\--is-players-turn .home_pawns span:hover, .home[color="blue"] .home_pick-color:hover {
    background: #7eb1dc; }

.home_pick-color {
  text-align: center;
  margin: 0 2.5px 0 2.5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #000000; }
  .home_pick-color:first-child {
    float: left;
    margin-left: 12%; }
  .home_pick-color:last-child {
    float: right;
    margin-right: 12%; }

.home_nickname {
  text-align: center;
  margin: 20px 0 0 -5px; }

.home_pick-color_or {
  float: left;
  margin: 35px 15px 0 10px;
  font-size: 14px;
  color: #ffffff; }

.dice {
  position: absolute;
  right: -20px;
  top: 22.5px;
  box-shadow: 0 0 2px 1px #000000;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #ffffff; }

.dice:hover {
  background: #dddddd; }

.dice div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.dice.-rolling {
  top: 0;
  right: -50px;
  bottom: -25px;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  cursor: default;
  width: auto;
  height: auto;
  border: 0;
  box-shadow: none;
  z-index: 20; }

.dice.-rolling div {
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: auto;
  bottom: auto;
  box-shadow: 0 0 2px 1px #000000;
  border-radius: 7px;
  cursor: pointer;
  background: #ffffff; }

.dice span {
  position: absolute;
  width: 17%;
  height: 17%;
  border-radius: 50%;
  background: #000000; }

.roll_nothing span,
.roll_1 span,
.roll_3 span:nth-child(2),
.roll_5 span:nth-child(4) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.roll_2 span:first-child,
.roll_3 span:first-child,
.roll_4 span:first-child,
.roll_5 span:first-child,
.roll_6 span:first-child {
  top: 7px;
  right: 7px; }

.roll_2 span:last-child,
.roll_3 span:last-child,
.roll_4 span:last-child,
.roll_5 span:last-child,
.roll_6 span:last-child {
  bottom: 7px;
  left: 7px; }

.roll_4 span:nth-child(2),
.roll_5 span:nth-child(2),
.roll_6 span:nth-child(2) {
  top: 7px;
  left: 7px; }

.roll_4 span:nth-child(3),
.roll_5 span:nth-child(3),
.roll_6 span:nth-child(3) {
  bottom: 7px;
  right: 7px; }

.roll_6 span:nth-child(4) {
  left: 7px;
  top: 50%;
  transform: translate(0, -50%); }

.roll_6 span:nth-child(5) {
  right: 7px;
  top: 50%;
  transform: translate(0, -50%); }

.setup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.setup_row {
  padding: 10px;
  clear: both; }

.setup_input {
  padding: 10px 15px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid grey;
  margin-right: 14px;
  float: left; }

.setup_button {
  min-width: 120px;
  float: left; }

.controls {
  position: absolute;
  top: 22.5px;
  left: 22.5px;
  z-index: 10; }

.controls_button {
  float: left;
  margin-right: 14px; }
  .controls_button:hover {
    background: #0b47f1; }

.controls_speed {
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 2px 1px #000000;
  float: left;
  margin-right: 14px; }

.controls_pincode {
  float: left;
  margin-top: 13px; }

.popup-background {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  left: 0;
  bottom: -25px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 30; }

.winner-popup {
  border-radius: 10px;
  position: absolute;
  background: #ffffff;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 31;
  box-shadow: 0 0 2px 1px #000000; }

.winner-popup_text {
  margin-bottom: 14px; }

.chat {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f2f2f2;
  width: 700px;
  box-shadow: inset 7px 0 9px -7px #000000; }

.chat_messages {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  top: 0;
  overflow-x: auto; }

.chat_message {
  padding: 10px 20px; }

.chat_message_nickname {
  font-weight: bold; }

.chat_send-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 20px; }

.chat_send-message_input {
  padding: 20px;
  border-radius: 10px;
  border: 0;
  float: left;
  margin-right: 20px;
  width: calc(100% - 100px);
  box-shadow: 0 0 2px 1px #000000; }

.chat_send-message_button {
  float: left;
  padding: 20px;
  width: 80px; }

.status {
  position: absolute;
  top: 100px;
  right: -220px;
  padding: 20px;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 7px; }
